### HRV data preprocessing for FL research

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# from PIL import Image

In [2]:
# HRV 데이터셋 불러오기
hrv_df = pd.read_csv('E:/RESEARCH/Datasets/HRV_samsung/HRV_REV_all.csv', sep=',')
hrv_df.head()

,sub,VISIT,disorder,age,gender,HAMD,HAMA,PDSS,ASI,APPQ,...,cRMSSD,cVLF,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP
0,E001,4,2,23,1,2,2,1,12,22,...,41.544667,190.107000,298.508333,206.862333,1.284000,695.477333,65.707000,14.054333,3.911333,34.998000
1,E001,5,2,23,1,12,7,0,12,24,...,39.825333,143.756667,115.695333,202.602667,0.585000,462.054667,69.040000,14.117333,6.255000,35.544333
2,E002,1,2,38,1,14,17,14,31,122,...,20.052000,22.006000,50.182000,32.529333,2.499333,104.717000,92.789333,11.013333,0.945667,35.086000
3,E002,2,2,38,1,13,36,16,32,139,...,20.201667,55.579000,84.441000,18.754000,5.803000,158.774333,85.980667,12.608333,0.785667,36.141000
4,E002,3,2,38,1,7,10,11,23,70,...,74.788000,182.229000,530.565667,546.574000,1.685667,1259.368667,84.368667,14.285667,0.648000,35.879000

In [3]:
hrv_df.shape

(479, 93)

In [4]:
hrv_df['null1'] = 0
# hrv_df['null2'] = 0
# hrv_df['null3'] = 0
# hrv_df['null4'] = 0
# hrv_df['null5'] = 0
# hrv_df['null6'] = 0
# hrv_df['null7'] = 0
# hrv_df['null8'] = 0
# hrv_df['null9'] = 0
# hrv_df['null10'] = 0
# hrv_df['null11'] = 0
# hrv_df['null12'] = 0
# hrv_df['null13'] = 0
# hrv_df['null14'] = 0
# hrv_df['null15'] = 0
# hrv_df['null16'] = 0
# hrv_df['null17'] = 0
# hrv_df['null18'] = 0
# hrv_df['null19'] = 0
# hrv_df['null20'] = 0

In [5]:
hrv_df.shape

(479, 94)

In [6]:
#hrv data확인
hrv_df.head()

,sub,VISIT,disorder,age,gender,HAMD,HAMA,PDSS,ASI,APPQ,...,cVLF,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP,null1
0,E001,4,2,23,1,2,2,1,12,22,...,190.107000,298.508333,206.862333,1.284000,695.477333,65.707000,14.054333,3.911333,34.998000,0
1,E001,5,2,23,1,12,7,0,12,24,...,143.756667,115.695333,202.602667,0.585000,462.054667,69.040000,14.117333,6.255000,35.544333,0
2,E002,1,2,38,1,14,17,14,31,122,...,22.006000,50.182000,32.529333,2.499333,104.717000,92.789333,11.013333,0.945667,35.086000,0
3,E002,2,2,38,1,13,36,16,32,139,...,55.579000,84.441000,18.754000,5.803000,158.774333,85.980667,12.608333,0.785667,36.141000,0
4,E002,3,2,38,1,7,10,11,23,70,...,182.229000,530.565667,546.574000,1.685667,1259.368667,84.368667,14.285667,0.648000,35.879000,0

##### index 범주 만들어줄 항을 생성 및 범주화

In [7]:
hrv_df['IndexH']=0

In [8]:
# hrv_df.loc[hrv_df['HAMD']<=16, 'IndexH'] =0
# hrv_df.loc[hrv_df['HAMD']>17, 'IndexH'] = 1

In [9]:
hrv_df.loc[hrv_df['HAMD']<=7, 'IndexH'] = 0
hrv_df.loc[hrv_df['HAMD']>7, 'IndexH'] =  1

In [10]:
# hrv_df.loc[hrv_df['HAMD']<=7, 'IndexH'] =0
# hrv_df.loc[(hrv_df['HAMD']>7) & (hrv_df['HAMA']<=16), 'IndexH'] = 1
# hrv_df.loc[hrv_df['HAMD']>16, 'IndexH'] = 2

In [11]:
# hrv_df.loc[hrv_df['HAMD']<=7, 'IndexH'] =0
# hrv_df.loc[(hrv_df['HAMD']>7) & (hrv_df['HAMA']<=16), 'IndexH'] = 1
# hrv_df.loc[(hrv_df['HAMD']>16) & (hrv_df['HAMA']<=23), 'IndexH'] = 2
# hrv_df.loc[hrv_df['HAMD']>23, 'IndexH'] = 3

In [12]:
hrv_df.head() #제대로 분류되었는지 확인

,sub,VISIT,disorder,age,gender,HAMD,HAMA,PDSS,ASI,APPQ,...,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP,null1,IndexH
0,E001,4,2,23,1,2,2,1,12,22,...,298.508333,206.862333,1.284000,695.477333,65.707000,14.054333,3.911333,34.998000,0,0
1,E001,5,2,23,1,12,7,0,12,24,...,115.695333,202.602667,0.585000,462.054667,69.040000,14.117333,6.255000,35.544333,0,1
2,E002,1,2,38,1,14,17,14,31,122,...,50.182000,32.529333,2.499333,104.717000,92.789333,11.013333,0.945667,35.086000,0,1
3,E002,2,2,38,1,13,36,16,32,139,...,84.441000,18.754000,5.803000,158.774333,85.980667,12.608333,0.785667,36.141000,0,1
4,E002,3,2,38,1,7,10,11,23,70,...,530.565667,546.574000,1.685667,1259.368667,84.368667,14.285667,0.648000,35.879000,0,0

In [13]:
#disorder, sub, Visit, 10개변수 값은 pixel에 넣지 않음. (총 13개 제거)
hrv_81 = hrv_df.drop(['sub','disorder','VISIT','HAMD', 'HAMA','PDSS','ASI','APPQ','PSWQ','SPI','PSS','BIS','SSI', 'IndexH'], axis=1)
# hrv_81 = hrv_df.drop(['sub','disorder','VISIT','HAMD', 'HAMA','PDSS','ASI','APPQ','PSWQ','SPI','PSS','BIS','SSI'], axis=1)
# hrv_81 = hrv_df.drop(['sub','disorder','VISIT','HAMD','HAMA','PDSS','ASI','APPQ','PSWQ','SPI','PSS','BIS','SSI'], axis=1)
hrv_81.head()

,age,gender,b1SDNN,b1NN50,b1PNN50,b1RMSSD,b1VLF,b1LF,b1HF,b1LF/HF,...,cVLF,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP,null1
0,23,1,53.113667,14.333333,0.233000,56.151000,100.156000,99.322333,315.010667,0.319333,...,190.107000,298.508333,206.862333,1.284000,695.477333,65.707000,14.054333,3.911333,34.998000,0
1,23,1,45.919000,13.666667,0.210000,46.576000,101.827333,204.858333,235.766333,0.914667,...,143.756667,115.695333,202.602667,0.585000,462.054667,69.040000,14.117333,6.255000,35.544333,0
2,38,1,26.377667,0.000000,0.000000,15.102000,131.038333,88.803333,42.704000,2.854667,...,22.006000,50.182000,32.529333,2.499333,104.717000,92.789333,11.013333,0.945667,35.086000,0
3,38,1,24.147333,0.000000,0.000000,13.519333,132.222000,177.344000,47.517000,4.686333,...,55.579000,84.441000,18.754000,5.803000,158.774333,85.980667,12.608333,0.785667,36.141000,0
4,38,1,79.460333,6.000000,0.066333,87.518667,84.822667,326.738667,303.335333,0.817333,...,182.229000,530.565667,546.574000,1.685667,1259.368667,84.368667,14.285667,0.648000,35.879000,0

In [ ]:
# sns.swarmplot(data=hrv_df, x="IndexH", y="b1LF/HF")

In [ ]:
# sns.displot(hrv_81["b1SDNN"], color="red")
# sns.displot(hrv_81["b1NN50"], color="blue")

In [14]:
# target을 disorder로 놓으면
y = hrv_df.loc[:,['IndexH']]

In [ ]:
# target을 HAMD로 놓으면
# y1 = hrv_df.loc[:,['HAMD']]

In [ ]:
# target을 HAMA로 놓으면
# y2 = hrv_df.loc[:,['HAMA']]

In [ ]:
# target을 PDSS로 놓으면
# y3 = hrv_df.loc[:,['PDSS']]

In [ ]:
# target을 ASI로 놓으면
# y4 = hrv_df.loc[:,['ASI']]

In [ ]:
# target을 APPQ로 놓으면
# y5 = hrv_df.loc[:,['APPQ']]

In [ ]:
# target을 PSWQ로 놓으면
# y6 = hrv_df.loc[:,['PSWQ']]

In [ ]:
# target을 SPI로 놓으면
# y7 = hrv_df.loc[:,['SPI']]

In [ ]:
# target을 PSS로 놓으면
# y8 = hrv_df.loc[:,['PSS']]

In [ ]:
# target을 BIS로 놓으면
# y9 = hrv_df.loc[:,['BIS']]

In [ ]:
# target을 SSI로 놓으면
# y10 = hrv_df.loc[:,['SSI']]

In [15]:
# 환자만 따로 뽑으면
patient = hrv_df.loc[:, ['sub']]

##### 이제 총 81개의 column으로 구성되었으니까 우선 normalization 하자 (0~1 사이 값으로 범위변환)

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
hrv_81[:] = scaler.fit_transform(hrv_81[:])

In [17]:
hrv_81

,age,gender,b1SDNN,b1NN50,b1PNN50,b1RMSSD,b1VLF,b1LF,b1HF,b1LF/HF,...,cVLF,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP,null1
0,0.068966,0.0,0.075757,0.344000,0.495745,0.054862,0.000710,0.000565,0.003834,0.007478,...,0.001651,0.001531,0.001556,0.026915,0.001560,0.219382,0.553832,0.264775,0.879143,0.0
1,0.068966,0.0,0.064662,0.328000,0.446809,0.044981,0.000722,0.001170,0.002868,0.027090,...,0.001244,0.000591,0.001524,0.010246,0.001029,0.259603,0.561629,0.424709,0.927001,0.0
2,0.327586,0.0,0.034528,0.000000,0.000000,0.012500,0.000932,0.000505,0.000515,0.091000,...,0.000173,0.000254,0.000241,0.055897,0.000216,0.546196,0.177502,0.062395,0.886851,0.0
3,0.327586,0.0,0.031088,0.000000,0.000000,0.010866,0.000941,0.001012,0.000574,0.151341,...,0.000469,0.000430,0.000138,0.134680,0.000339,0.464033,0.374887,0.051476,0.979268,0.0
4,0.327586,0.0,0.116386,0.144000,0.141135,0.087233,0.000600,0.001868,0.003691,0.023884,...,0.001582,0.002726,0.004118,0.036494,0.002843,0.444581,0.582460,0.042082,0.956317,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,0.241379,1.0,0.025634,0.000000,0.000000,0.012514,0.000168,0.000234,0.000306,0.052138,...,0.000442,0.000302,0.000266,0.035492,0.000315,0.372844,0.857974,0.019039,0.759483,0.0
475,0.137931,1.0,1.000000,0.743999,1.000000,1.000000,1.000000,0.649227,0.689718,0.041245,...,0.072007,0.229216,0.232402,0.023243,0.190077,0.877853,0.342088,0.469838,0.823693,0.0
476,0.137931,1.0,0.385906,0.463999,0.445389,0.378242,0.218281,0.719419,0.337319,0.065524,...,0.005386,0.009679,0.021906,0.014634,0.012269,0.716440,0.472325,0.063669,0.771720,0.0
477,0.137931,1.0,0.036711,0.032000,0.035461,0.025638,0.000516,0.000482,0.001365,0.035030,...,0.000928,0.000341,0.000548,0.018648,0.000543,0.353467,0.420139,0.016947,0.652463,0.0
478,0.137931,1.0,0.049039,0.048000,0.049645,0.038019,0.000477,0.001210,0.001958,0.148090,...,0.002232,0.000600,0.000562,0.029078,0.000999,0.404307,0.527964,0.013239,0.583523,0.0

In [ ]:
# plt.figure(figsize=(20, 10))
# plt.xticks(fontsize= 13)
# plt.yticks(fontsize= 13)
# # sns.set_style('whitegrid')

# var_color_dict = {'b1SDNN','b1PNN50','b1RMSSD','b1VLF','b1LF/HF','b1POWER','b1HR','b1RESP','b1SC','b1TEMP'}
# var_SDNN = {'b1SDNN','sSDNN','b2SDNN','rSDNN','b3SDNN','cSDNN'}
# var_PNN50 = {'b1PNN50','sPNN50','b2PNN50','rPNN50','b3PNN50','cPNN50'}
# var_LFHF = {'b1LF/HF','sLF/HF','b2LF/HF','rLF/HF','b3LF/HF','cLF/HF'}

# for var in var_color_dict:
#     a =sns.kdeplot(hrv_81[var], label = var)

# a.set_title('Distribution of each random variables', fontsize=20)
# a.set_xlabel('Standardized HRV feature values', fontsize=20)
# a.set_ylabel('Density', fontsize=20)

# plt.legend(fontsize=18)

In [ ]:
# corcheck = hrv_81.loc[:, ['b1SDNN','b1PNN50','b1RMSSD','b1VLF','b1LF/HF','b1POWER','b1HR','b1RESP','b1SC','b1TEMP','IndexH']]

In [ ]:
# plt.figure(figsize=(20,20))
# sns.heatmap(data = hrv_81.corr(), linewidths=.5, cmap='Blues')

In [ ]:
# df = corcheck.corr()
# # 그림 사이즈 지정
# fig, ax = plt.subplots( figsize=(10,10) )

# # 삼각형 마스크를 만든다(위 쪽 삼각형에 True, 아래 삼각형에 False)
# mask = np.zeros_like(df, dtype=np.bool)
# mask[np.triu_indices_from(mask)] = True

# # 히트맵을 그린다
# sns.set_style('whitegrid')
# sns.heatmap(df, 
#             cmap = 'RdYlBu_r', 
#             mask=mask,      # 표시하지 않을 마스크 부분을 지정한다
#             linewidths=.5,  # 경계면 실선으로 구분하기
#             cbar_kws={"shrink": .5},# 컬러바 크기 절반으로 줄이기
#             vmin = -1,vmax = 1   # 컬러바 범위 -1 ~ 1
#            )  
# plt.show()

In [ ]:
# sns.pairplot(corcheck, diag_kind='kde',hue="IndexH",palette='bright', figsize=(20,20)) # pastel, bright, deep, muted, colorblind, dark

# plt.show()

In [ ]:
# plt.figure(figsize=(15,15))
# sns.heatmap(data=data.corr(), annot=True)

##### 만약에 평균0, 표준편차 1의 표준정규분포를 따르도록 변환하려면 아래와 같이 실행 (근데 이건 gender나 age변수에 대해서는 안좋음)

In [ ]:
# from sklearn.preprocessing import StandardScaler
# stscaler = StandardScaler()
# hrv_100[:] = stscaler.fit_transform(hrv_100[:])

In [18]:
#normalize 제대로 되어 있는지 확인
hrv_81.head()

,age,gender,b1SDNN,b1NN50,b1PNN50,b1RMSSD,b1VLF,b1LF,b1HF,b1LF/HF,...,cVLF,cLF,cHF,cLF/HF,cPOWER,cHR,cRESP,cSC,cTEMP,null1
0,0.068966,0.0,0.075757,0.344,0.495745,0.054862,0.000710,0.000565,0.003834,0.007478,...,0.001651,0.001531,0.001556,0.026915,0.001560,0.219382,0.553832,0.264775,0.879143,0.0
1,0.068966,0.0,0.064662,0.328,0.446809,0.044981,0.000722,0.001170,0.002868,0.027090,...,0.001244,0.000591,0.001524,0.010246,0.001029,0.259603,0.561629,0.424709,0.927001,0.0
2,0.327586,0.0,0.034528,0.000,0.000000,0.012500,0.000932,0.000505,0.000515,0.091000,...,0.000173,0.000254,0.000241,0.055897,0.000216,0.546196,0.177502,0.062395,0.886851,0.0
3,0.327586,0.0,0.031088,0.000,0.000000,0.010866,0.000941,0.001012,0.000574,0.151341,...,0.000469,0.000430,0.000138,0.134680,0.000339,0.464033,0.374887,0.051476,0.979268,0.0
4,0.327586,0.0,0.116386,0.144,0.141135,0.087233,0.000600,0.001868,0.003691,0.023884,...,0.001582,0.002726,0.004118,0.036494,0.002843,0.444581,0.582460,0.042082,0.956317,0.0

##### 여기서부터는 hrv_81 데이터를 쓰도록 하자.
- sub, disorder, visit, 10개주요 변수를 제거하였음(80 rows가 되었음)
- 9 x 9 형태를 맞춰주기 위해서 null1 rows 추가
- 각 row별로 normalize해서 0~1사이로 값을 맞춰주었음

In [19]:
hrv_81.shape

(479, 81)

In [ ]:
#값이 어떻게 표기되는지 x0를 통해서 확인해보자
# x0=hrv_81.loc[478].values

In [ ]:
# x0

In [ ]:
# 9 x 9으로 reshape
# x0=x0.reshape(9,9)

In [ ]:
# heatmap으로 체크해봄. 근데 heatmap보다 그냥 plt.imsho()써서 gray scale로 보는게 가독성 있을듯
# x0 = sns.heatmap(x0)

In [ ]:
#gray scale로 확인해보고
# plt.imshow(x0, cmap='gray')

In [20]:
hrv_81.loc[0] #확인했으니까 이제 우리 데이터를 가지고

age        0.068966
gender     0.000000
b1SDNN     0.075757
b1NN50     0.344000
b1PNN50    0.495745
             ...
cHR        0.219382
cRESP      0.553832
cSC        0.264775
cTEMP      0.879143
null1      0.000000
Name: 0, Length: 81, dtype: float64

In [21]:
hrv_81.shape

(479, 81)

In [22]:
hrv_81_arr = hrv_81.values
hrv_81_arr.shape

(479, 81)

In [23]:
# array 형태로 480개 행에 대해서 9 x 9 reshape
hrv_array = hrv_81_arr.reshape(479,9,9)

In [24]:
hrv_array.shape

(479, 9, 9)

In [25]:
# data = pd.concat([hrv_100,hrv_target], axis=1)

In [26]:
np.save('E:/RESEARCH/Datasets/HRV_samsung/two_classes/y.npy', y)

In [27]:
np.save('E:/RESEARCH/Datasets/HRV_samsung/two_classes/x.npy', hrv_array)

In [28]:
np.save('E:/RESEARCH/Datasets/HRV_samsung/two_classes/patient.npy', patient)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y1.npy', y1)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y2.npy', y2)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y3.npy', y3)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y4.npy', y4)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y5.npy', y5)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y6.npy', y6)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y7.npy', y7)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y8.npy', y8)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y9.npy', y9)

In [ ]:
# np.save('E:/RESEARCH/Datasets/HRV_samsung/pracdata/y10.npy', y10)

In [ ]:
# 확인해보자
xdata = np.load('E:/RESEARCH/Datasets/HRV_samsung/cat_hamd/x.npy')

In [ ]:
xdata

In [ ]:
xdata[0].shape